# Written by CI from the Terraform outputs; copy to .env.local for `npm run dev`.
VITE_API_BASE=https://api.joblygo.com
VITE_COGNITO_DOMAIN=jhi-joblygo.auth.us-east-1.amazoncognito.com
VITE_COGNITO_CLIENT_ID=3oi49qmis33vo7dgurv2ar480r
